<div class="center-container">
  <div class="center-img">
    <img [src]="this.OnlineApplicationsLogo" alt="Imagem do Pokémon" height="70">
    <img [src]="this.pokemonLogo" alt="Imagemkamilly" height="150">
  </div>
  <mat-card class="search-card">
    <mat-card-content>
      <div>
        <span class="content-title">Localize seu Pokemon</span>
      </div>
      <div class="container">
        <form class="form">
          <mat-form-field class="example">
            <mat-label>Cidade</mat-label>
            <input
              type="city"
              matInput
              [formControl]="cityFormControl"
              placeholder="Ex. New York"
              (keyup.enter)="searchWeatherMap(cityFormControl.value ? cityFormControl.value : '' )"
            />
            <mat-error *ngIf="cityFormControl.hasError('required')"
              >Necessário preenchimento do campo
              <strong>Cidade!</strong></mat-error
            >
          </mat-form-field>
        </form>
      </div>
      <div class="container-button">
        <section>
          <div class="button-search">
            <button
              mat-raised-button
              color="primary"
              (click)="
                searchWeatherMap(cityFormControl.value ? cityFormControl.value : '' )"
              [disabled]="cityFormControl.invalid"
            >
              Buscar
            </button>
          </div>
        </section>
      </div>
    </mat-card-content>
  </mat-card>
</div>
